@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'indroid';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: #94e6b9;
    --cor1: #22ee70;
    --cor2: #05aa44;
    --cor3: #64f5648f;
    --cor4: #03692a;
    --cor5: #233b2b;
    --cor6: #0e6917;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'bebas neue';
    --fonte-android: 'indroid';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    text-align: justify;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    color: white;
    background-image: linear-gradient(to bottom, var(--cor1) ,var(--cor2), var(--cor4) );
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    font-family: var(--fonte-destaque), var(--fonte-padrao);
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 4px 3px 5px #0000006e;
    margin-bottom: 15px;
    
}

header > p {
    font-family: var(--fonte-padrao);
    text-shadow: 5px 4px 4px #00000052;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px
    
}


nav {
    text-align:left ;
    padding: 5px 5px 10px 5px;
    box-shadow: -1px 8px 8px 0px rgba(0, 0, 0, 0.301);
    
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 5px;
    transition-duration: 0.5s;
}


main{
    min-width: 280px;
    max-width: 800px;

    background-color: #f5f5f5;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    
}


main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.2em;
    background-image: linear-gradient(to right,#5DD268, #80D68D, white);
    color: var(--cor6);
    padding-left: 5px;
    text-indent: 8px;
}

p {
    margin: 15px 0px;
}

main p {
    line-height: 1.5em;
    text-indent: 30px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

img {
    width: 100%;
}

main img.pequena {
    max-width: 320px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.39);
}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}


footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

